<?xml version="1.0"?>
<config>
  <modules>
    <St_Countryphonenumber>
      <version>0.1.0</version>
    </St_Countryphonenumber>
  </modules>
  <global>
    <helpers>
      <countryphonenumber>
        <class>St_Countryphonenumber_Helper</class>
      </countryphonenumber>
    </helpers>
	<models>
	  <countryphonenumber>
		<class>St_Countryphonenumber_Model</class>
		<resourceModel>countryphonenumber_mysql4</resourceModel>
	  </countryphonenumber>
	</models>
	<resources>
	  <customerattribute1623650977_setup>
		<setup>
		  <module>St_Countryphonenumber</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1623650977_setup>
	  <customerattribute1623650977_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1623650977_write>
	  <customerattribute1623650977_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1623650977_read>
	</resources>
  </global>
</config> 