<?xml version="1.0"?>
<config>
  <modules>
    <St_Customerattribute>
      <version>0.1.0</version>
    </St_Customerattribute>
  </modules>
  <global>
    <helpers>
      <customerattribute>
        <class>St_Customerattribute_Helper</class>
      </customerattribute>
    </helpers>
	<models>
	  <customerattribute>
		<class>St_Customerattribute_Model</class>
		<resourceModel>customerattribute_mysql4</resourceModel>
	  </customerattribute>
	</models>
	<resources>
	  <customerattribute1550834756_setup>
		<setup>
		  <module>St_Customerattribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1550834756_setup>
	  <customerattribute1550834756_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1550834756_write>
	  <customerattribute1550834756_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1550834756_read>
	</resources>
  </global>
</config> 