<?xml version="1.0"?>
<config>
  <modules>
    <St_Customermeallevel>
      <version>0.1.0</version>
    </St_Customermeallevel>
  </modules>
  <global>
    <helpers>
      <customermeallevel>
        <class>St_Customermeallevel_Helper</class>
      </customermeallevel>
    </helpers>
	<models>
	  <customermeallevel>
		<class>St_Customermeallevel_Model</class>
		<resourceModel>customermeallevel_mysql4</resourceModel>
	  </customermeallevel>
	</models>
	<resources>
	  <customerattribute1575876403_setup>
		<setup>
		  <module>St_Customermeallevel</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1575876403_setup>
	  <customerattribute1575876403_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1575876403_write>
	  <customerattribute1575876403_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1575876403_read>
	</resources>
  </global>
</config> 