<?xml version="1.0"?>
<config>
  <modules>
    <St_Disease>
      <version>0.1.0</version>
    </St_Disease>
  </modules>
  <global>
    <helpers>
      <disease>
        <class>St_Disease_Helper</class>
      </disease>
    </helpers>
	<blocks>
	  <disease>
		<class>St_Disease_Block</class>
	  </disease>
	</blocks>
	<models>
	  <disease>
		<class>St_Disease_Model</class>
		<resourceModel>disease_mysql4</resourceModel>
	  </disease>
	  <disease_mysql4>
		<class>St_Disease_Model_Mysql4</class>
		<entities>
			  <disease>
				<table>disease</table>
			  </disease>
        </entities>
	  </disease_mysql4>
	</models>
	<resources>
	  <disease_setup>
		<setup>
		  <module>St_Disease</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </disease_setup>
	  <disease_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </disease_write>
	  <disease_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </disease_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <disease>
	    <use>admin</use>
		<args>
		  <module>St_Disease</module>
		  <frontName>admin_disease</frontName>
		</args>
	  </disease>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <disease module="disease">
		<title>Disease</title>
		<sort_order>100</sort_order>
		<children>
		  <disease module="disease">
		    <title>Manage Disease</title>
			<sort_order>0</sort_order>
			<action>admin_disease/adminhtml_disease</action>
		  </disease>
		</children>
	  </disease>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<disease translate="title" module="disease">
			  <title>Disease</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <disease translate="title">
			<title>Manage Disease</title>
			<sort_order>0</sort_order>
		  </disease>
			  </children>
			</disease>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<disease>
		  <file>disease.xml</file>
		</disease>
	  </updates>
	</layout>
  </adminhtml>
</config> 