<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text" style="margin-bottom: 15px;">Thank you, {{var store.getFrontendName()}}!</h5>
			<h5 style="width:100px;margin:auto;"> <a href="https://www.facebook.com/diobesity" style="margin:5px 2px;width: 24px;float: left;height: 24px;color:#3696c2;text-decoration:none;">
						  <img src="http://lifeheal.in/skin/frontend/rwd/default/images/facebookicon.png"  style="width:100%;"></a>
<a href="https://www.youtube.com/channel/UCrocY4uHeWsxtnM_JpbxBVA" style="margin:5px 2px;width: 24px;float: left;height: 24px;color:#3696c2;text-decoration:none;"><img src="http://lifeheal.in/skin/frontend/rwd/default/images/youtubeicon.png" style="width:100%;"></a>
<a href="https://www.instagram.com/team@lifeheal/" style="margin:5px 2px;width: 24px;float: left;height: 24px;color:#3696c2;text-decoration:none;"><img src="http://lifeheal.in/skin/frontend/rwd/default/images/instaicon.png"  style="width:100%;"></a>
 </h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
