<?xml version="1.0"?>
<config>
  <modules>
    <St_Offlinemeals>
      <version>0.1.0</version>
    </St_Offlinemeals>
  </modules>
  <global>
    <helpers>
      <offlinemeals>
        <class>St_Offlinemeals_Helper</class>
      </offlinemeals>
    </helpers>
	<models>
	  <offlinemeals>
		<class>St_Offlinemeals_Model</class>
		<resourceModel>offlinemeals_mysql4</resourceModel>
	  </offlinemeals>
	</models>
	<resources>
	  <customerattribute1571390147_setup>
		<setup>
		  <module>St_Offlinemeals</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1571390147_setup>
	  <customerattribute1571390147_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1571390147_write>
	  <customerattribute1571390147_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1571390147_read>
	</resources>
  </global>
</config> 