<?xml version="1.0"?>
<config>
  <modules>
    <LifeHeal_CustomerAtrribute>
      <version>0.1.0</version>
    </LifeHeal_CustomerAtrribute>
  </modules>
  <global>
    <helpers>
      <customeratrribute>
        <class>LifeHeal_CustomerAtrribute_Helper</class>
      </customeratrribute>
    </helpers>
	<models>
	  <customeratrribute>
		<class>LifeHeal_CustomerAtrribute_Model</class>
		<resourceModel>customeratrribute_mysql4</resourceModel>
	  </customeratrribute>
	</models>
	<resources>
	  <customerattribute1571902284_setup>
		<setup>
		  <module>LifeHeal_CustomerAtrribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1571902284_setup>
	  <customerattribute1571902284_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1571902284_write>
	  <customerattribute1571902284_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1571902284_read>
	</resources>
  </global>
</config> 