<?xml version="1.0"?>
<config>
  <modules>
    <St_Custommobileno>
      <version>0.1.0</version>
    </St_Custommobileno>
  </modules>
  <global>
    <helpers>
      <custommobileno>
        <class>St_Custommobileno_Helper</class>
      </custommobileno>
    </helpers>
	<models>
	  <custommobileno>
		<class>St_Custommobileno_Model</class>
		<resourceModel>custommobileno_mysql4</resourceModel>
	  </custommobileno>
	</models>
	<resources>
	  <customerattribute1552364999_setup>
		<setup>
		  <module>St_Custommobileno</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1552364999_setup>
	  <customerattribute1552364999_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1552364999_write>
	  <customerattribute1552364999_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1552364999_read>
	</resources>
  </global>
</config> 