<?xml version="1.0"?>
<config>
  <modules>
    <Cmds_Spicys>
      <version>0.1.0</version>
    </Cmds_Spicys>
  </modules>
  <global>
    <helpers>
      <spicys>
        <class>Cmds_Spicys_Helper</class>
      </spicys>
    </helpers>
	<models>
	  <spicys>
		<class>Cmds_Spicys_Model</class>
		<resourceModel>spicys_mysql4</resourceModel>
	  </spicys>
	</models>
	<resources>
	  <customerattribute1581054952_setup>
		<setup>
		  <module>Cmds_Spicys</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1581054952_setup>
	  <customerattribute1581054952_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1581054952_write>
	  <customerattribute1581054952_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1581054952_read>
	</resources>
  </global>
</config> 