<?xml version="1.0"?>
<config>
  <modules>
    <St_Immunityassessment>
      <version>0.1.0</version>
    </St_Immunityassessment>
  </modules>
  <global>
    <helpers>
      <immunityassessment>
        <class>St_Immunityassessment_Helper</class>
      </immunityassessment>
    </helpers>
	<models>
	  <immunityassessment>
		<class>St_Immunityassessment_Model</class>
		<resourceModel>immunityassessment_mysql4</resourceModel>
	  </immunityassessment>
	  <immunityassessment_mysql4>
		<class>St_Immunityassessment_Model_Mysql4</class>
		<entities>
			  <immunutyassessment>
				<table>immunutyassessment</table>
			  </immunutyassessment>
        </entities>
	  </immunityassessment_mysql4>
	</models>
	<resources>
	  <immunityassessment_setup>
		<setup>
		  <module>St_Immunityassessment</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </immunityassessment_setup>
	  <immunityassessment_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </immunityassessment_write>
	  <immunityassessment_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </immunityassessment_read>
	</resources>
  </global>
</config> 