<?xml version="1.0"?>
<config>
  <modules>
    <LifeHeal_OrderAttribute>
      <version>0.1.0</version>
    </LifeHeal_OrderAttribute>
  </modules>
  <global>
    <helpers>
      <orderattribute>
        <class>LifeHeal_OrderAttribute_Helper</class>
      </orderattribute>
    </helpers>
	<models>
	  <orderattribute>
		<class>LifeHeal_OrderAttribute_Model</class>
		<resourceModel>orderattribute_mysql4</resourceModel>
	  </orderattribute>
	</models>
	<resources>
	  <salesattribute1582607933_setup>
		<setup>
		  <module>LifeHeal_OrderAttribute</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1582607933_setup>
	  <salesattribute1582607933_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1582607933_write>
	  <salesattribute1582607933_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1582607933_read>
	</resources>
  </global>
</config> 