<?xml version="1.0"?>
<config>
  <modules>
    <St_Calorycarbslevel>
      <version>0.1.0</version>
    </St_Calorycarbslevel>
  </modules>
  <global>
    <helpers>
      <calorycarbslevel>
        <class>St_Calorycarbslevel_Helper</class>
      </calorycarbslevel>
    </helpers>
	<blocks>
	  <calorycarbslevel>
		<class>St_Calorycarbslevel_Block</class>
	  </calorycarbslevel>
	</blocks>
	<models>
	  <calorycarbslevel>
		<class>St_Calorycarbslevel_Model</class>
		<resourceModel>calorycarbslevel_mysql4</resourceModel>
	  </calorycarbslevel>
	  <calorycarbslevel_mysql4>
		<class>St_Calorycarbslevel_Model_Mysql4</class>
		<entities>
			  <calorycarbslevel>
				<table>calorycarbslevel</table>
			  </calorycarbslevel>
        </entities>
	  </calorycarbslevel_mysql4>
	</models>
	<resources>
	  <calorycarbslevel_setup>
		<setup>
		  <module>St_Calorycarbslevel</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </calorycarbslevel_setup>
	  <calorycarbslevel_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </calorycarbslevel_write>
	  <calorycarbslevel_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </calorycarbslevel_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <calorycarbslevel>
	    <use>admin</use>
		<args>
		  <module>St_Calorycarbslevel</module>
		  <frontName>admin_calorycarbslevel</frontName>
		</args>
	  </calorycarbslevel>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <calorycarbslevel module="calorycarbslevel">
		<title>Calorycarbslevel</title>
		<sort_order>100</sort_order>
		<children>
		  <calorycarbslevel module="calorycarbslevel">
		    <title>Manage Calorycarbslevel</title>
			<sort_order>0</sort_order>
			<action>admin_calorycarbslevel/adminhtml_calorycarbslevel</action>
		  </calorycarbslevel>
		</children>
	  </calorycarbslevel>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<calorycarbslevel translate="title" module="calorycarbslevel">
			  <title>Calorycarbslevel</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <calorycarbslevel translate="title">
			<title>Manage Calorycarbslevel</title>
			<sort_order>0</sort_order>
		  </calorycarbslevel>
			  </children>
			</calorycarbslevel>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<calorycarbslevel>
		  <file>calorycarbslevel.xml</file>
		</calorycarbslevel>
	  </updates>
	</layout>
  </adminhtml>
</config> 