<?xml version="1.0"?>
<config>
  <modules>
    <St_Bmi>
      <version>0.1.0</version>
    </St_Bmi>
  </modules>
  <global>
    <helpers>
      <bmi>
        <class>St_Bmi_Helper</class>
      </bmi>
    </helpers>
	<models>
	  <bmi>
		<class>St_Bmi_Model</class>
		<resourceModel>bmi_mysql4</resourceModel>
	  </bmi>
	  <bmi_mysql4>
		<class>St_Bmi_Model_Mysql4</class>
		<entities>
			  <bmi>
				<table>bmi</table>
			  </bmi>
        </entities>
	  </bmi_mysql4>
	</models>
	<resources>
	  <bmi_setup>
		<setup>
		  <module>St_Bmi</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bmi_setup>
	  <bmi_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bmi_write>
	  <bmi_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bmi_read>
	</resources>
  </global>
</config> 