<!doctype html>
<html lang="en">

<head>
	<title>LifeHeal</title>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<!-- CSS -->
	<link rel="stylesheet" href="css/normalize.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">
	<link rel="stylesheet" href="css/aos.css" type="text/css">
</head>

<body>
    
	<!-- Header Start -->
	<header>
	    
		<div class="header-wrapper">
		    
		    <!-- Logo -->
			<a class="logo" href="#">
				<img src="images/logo.png">
			</a>
			
			<!-- Navigation -->
			<nav class="menu">
				<ul>
					<li><a href="#" class="active-menu-item">Home</a>
					</li>
					<li><a href="#">Disease Remission</a>
					</li>
					<li><a href="#">Meal Plans & Coaching</a>
					</li>
					<li><a href="#">Food Subscription</a>
					</li>
					<li><a href="#">Webinars</a>
					</li>
					<li><a href="#">About us</a>
					</li>
					<li><a href="#">Blogs</a>
					</li>
				</ul>
			</nav>
			
			<!-- Sign in -->
			<div class="sign-in">
				<a href="#"> 
				    <span class="sign-in-icon" style="background-image: url('images/sign-in-icon.png')"></span>
				    <span class="sign-in-text">Sign in / Register</span>
				</a>
			</div>
			
			<!-- Mobile Menu -->
			<div class="mobile-menu">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</div>
		
	</header>
	<!-- Header End -->
	
	<!-- Hero Banner Start -->
	<div class="hero">
		
		<style>
			.disease-remission {
				background-image: url('images/disease-remission-hero-banner.png');
			}
			
			@media only screen and (max-width: 768px) {
				.disease-remission {
					background-image: url('images/disease-remission-hero-banner-mobile.png');
				}	
			}
			
			.disease-remission h1 span {
				color: #0EB58F;
			} 
		</style>
	    
	    <!-- Banner -->
	    <div class="hero-banner disease-remission">
	        <div class="hero-banner-container">
	        	
	        	<div class="hero-banner-text">
		        	<h1><span>DISEASE REMISSION</span><br>LOREM IPSUM DOLOR SIT<br>AMET CONSETETUR ELITR.</h1>
		        </div>
		        
	        </div>
	    </div>
	    
	</div>
	<!-- Hero Banner End -->
	
	<!-- Diseases We Manage Start -->
	<div class="disease-we-manage">
		<div class="disease-we-manage-container">
			<h2 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">DISEASES WE MANAGE</h2>
			<p data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
			
			<div class="disease-we-manage-detail-wrapper" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-1.png">
					<h3>Obesity Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-2.png">
					<h3>Diabetes Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-3.png">
					<h3>Fatty Liver Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-4.png">
					<h3>Thyroid Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-1.png">
					<h3>Obesity Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-2.png">
					<h3>Diabetes Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-3.png">
					<h3>Fatty Liver Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-4.png">
					<h3>Thyroid Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-1.png">
					<h3>Obesity Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-2.png">
					<h3>Diabetes Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-3.png">
					<h3>Fatty Liver Management</h3>
				</a>
				
				<a class="disease-we-manage-detail" href="#">
					<img src="images/disease-we-manage-4.png">
					<h3>Thyroid Management</h3>
				</a>
				
			</div>
		</div>
	</div>
	<!-- Diseases We Manage Start -->
	
	<!-- Customised Meal Plan Start -->
	<div class="customised-meal-plan">
		<div class="customised-meal-plan-container">
			<h2 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">CUSTOMISED MEAL PLAN OPTIONS FOR DISEASES</h2>
			<p data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
			<div class="customised-meal-plan-detail-wrapper" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
				
				<div class="customised-meal-plan-detail">
					<h4>1 Month Meal Plan</h4>
					<h3>Rs. 7,000</h3>
				</div>
				
				<div class="customised-meal-plan-detail">
					<h4>3 Months Meal Plan</h4>
					<h3>Rs. 18,000</h3>
				</div>
				
				<div class="customised-meal-plan-detail">
					<h4>6 Months Meal Plan</h4>
					<h3>Rs. 33,000</h3>
				</div>
				
				<div class="customised-meal-plan-detail">
					<h4>12 Months Meal Plan</h4>
					<h3>Rs. 60,000</h3>
				</div>
			
			</div>
			
			
			<p data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
		</div>
	</div>
	<!-- Customised Meal Plan End -->
	
	<!-- How it Works Start -->
	<div class="how-it-works disease-remission-how-it-works">
		
		<div class="how-it-works-container">
			<h4 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">HOW IT WORKS</h2>
			<h2 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">HOW IT WORKS</h2>
			
			<div class="how-it-works-detail-wrapper">
				
				<!-- Details -->
				<div class="how-it-works-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<img src="images/disease-remission-how-it-works-1.png">
					<h4>STEP 1</h4>
					<h3>Body Analysis</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam voluptua. At vero  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
				</div>
				
				<!-- Details -->
				<div class="how-it-works-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<img src="images/disease-remission-how-it-works-2.png">
					<h4>STEP 2</h4>
					<h3>Counseling Session</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam voluptua. At vero  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
				</div>
				
				<!-- Details -->
				<div class="how-it-works-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<img src="images/disease-remission-how-it-works-3.png">
					<h4>STEP 3</h4>
					<h3>Creating a Diet Plan</h3>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam voluptua. At vero  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</p>
				</div>
				
				
			</div>
			
		</div>
		
	</div>
	<!-- How it Works End -->
	
	<!-- Testimonials Start -->
	<div class="testimonials disease-remission-testimonials">
		
		<div class="testimonials-container">
			<h4 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">TESTIMONIALS</h2>
			<h2 data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">HOW WE CHANGED LIVES.</h2>
			
			<div class="testimonials-detail-wrapper">
				
				<!-- Details -->
				<div class="testimonials-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<p>I can't imagine my life without LifeHeal's health suggestions. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
					<div class="testimonials-detail-profile">
						<div class="testimonials-detail-profile-photo" style="background-image: url('images/testimonials-detail-profile-photo-1.png')"></div>
						<div class="testimonials-detail-profile-detail">
							<h3>Monika lost 30lbs</h3>
							<p>26 Years, Student, Delhi</p>
						</div>
					</div>
				</div>
				
				<!-- Details -->
				<div class="testimonials-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<p>I can't imagine my life without LifeHeal's health suggestions. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
					<div class="testimonials-detail-profile">
						<div class="testimonials-detail-profile-photo" style="background-image: url('images/testimonials-detail-profile-photo-2.png')"></div>
						<div class="testimonials-detail-profile-detail">
							<h3>Michael lost 21lbs</h3>
							<p>38 Years, Manager, Pune</p>
						</div>
					</div>
				</div>
				
				<!-- Details -->
				<div class="testimonials-detail" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000">
					<p>I can't imagine my life without LifeHeal's health suggestions. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
					<div class="testimonials-detail-profile">
						<div class="testimonials-detail-profile-photo" style="background-image: url('images/testimonials-detail-profile-photo-3.png')"></div>
						<div class="testimonials-detail-profile-detail">
							<h3>Rhea lost 18lbs</h3>
							<p>36 Years, Student, Delhi</p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	<!-- Testimonials End -->
	
	
	<!-- Footer Start -->
	<footer>
		<div class="footer-container">
			<!-- Logo -->
			<a class="logo" href="#">
				<img src="images/logo-white.png">
			</a>
			
			<div class="footer-items">
				<div class="footer-items-left">
					<!-- Links -->
					<ul class="footer-links" id="footer-links-group-one">
						<li>
							<a href="#">Disease Remission</a>
						</li>
						<li>
							<a href="#">Meal Plans</a>
						</li>
						<li>
							<a href="#">Coaching</a>
						</li>
						<li>
							<a href="#">Food Subscription</a>
						</li>
						<li>
							<a href="#">Webinars</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Blogs</a>
						</li>
					</ul>
					
					<ul class="footer-links" id="footer-links-group-two">
						<li>
							<a href="#">Disease Remission</a>
						</li>
						<li>
							<a href="#">Meal Plans</a>
						</li>
						<li>
							<a href="#">Coaching</a>
						</li>
						<li>
							<a href="#">Food Subscription</a>
						</li>
						<li>
							<a href="#">Webinars</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Blogs</a>
						</li>
					</ul>
					
					<ul class="footer-links" id="footer-links-group-three">
						<li>
							<a href="#">Disease Remission</a>
						</li>
						<li>
							<a href="#">Meal Plans</a>
						</li>
						<li>
							<a href="#">Coaching</a>
						</li>
						<li>
							<a href="#">Food Subscription</a>
						</li>
						<li>
							<a href="#">Webinars</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Blogs</a>
						</li>
					</ul>
					
					<ul class="footer-links" id="footer-links-group-four">
						<li>
							<a href="#">Disease Remission</a>
						</li>
						<li>
							<a href="#">Meal Plans</a>
						</li>
						<li>
							<a href="#">Coaching</a>
						</li>
						<li>
							<a href="#">Food Subscription</a>
						</li>
						<li>
							<a href="#">Webinars</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
						<li>
							<a href="#">Blogs</a>
						</li>
					</ul>
				</div>
				<div class="footer-items-right">
					<!-- Subscribe -->
					<div class="footer-subscribe">
						<h3>Subscribe to our Newsletter</h3>
						<p>Get news, tips and solutions for health and fitness from our experts.</p>
						<form action="" method="POST" id="footer-subscribe-form">
							<input type="text" name="email" placeholder="Email" required>
							<input type="submit" value="SUBSCRIBE">
						</form>
					</div>
				</div>
			</div>
			
			<div class="footer-items footer-items-border">
				<!-- Social -->
				<div class="footer-social">
					<h3>Join and follow us on</h3>
					<div class="footer-social-container">
						<a href="#">
							<i class="fab fa-facebook-square"></i>
						</a>
						<a href="#">
							<i class="fab fa-twitter-square"></i>
						</a>
						<a href="#">
							<i class="fab fa-instagram-square"></i>
						</a>
						<a href="#">
							<i class="fab fa-youtube-square"></i>
						</a>
					</div>
				</div>

				<!-- Contact -->
				<div class="footer-contact">
					<a href="mailto:team@lifeheal.in">
						<i class="far fa-envelope"></i> <span>team@lifeheal.in</span>
					</a>
						
					<a href="tel:+91-9999-84-6622">
						<i class="fas fa-phone"></i> <span>+91-9999-84-6622</span>
					</a>
				</div>
			</div>
			
			<div class="footer-copyright">
				<p>© LifeHeal Private Ltd., 2021</p>
			</div>
			
		</div>
	</footer>
	<!-- Footer End -->
	
	
	<!-- JavaScript -->
	<script src="js/jquery-min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/main.js"></script>
</body>

</html>