<?xml version="1.0"?>
<config>
  <modules>
    <St_Favourite>
      <version>0.1.0</version>
    </St_Favourite>
  </modules>
  <frontend>
    <routers>
      <favourite>
        <use>standard</use>
          <args>
            <module>St_Favourite</module>
            <frontName>favourite</frontName>
          </args>
      </favourite>
    </routers>
		<layout>
		  <updates>
			<favourite>
			  <file>favourite.xml</file>
			</favourite>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <favourite>
        <class>St_Favourite_Helper</class>
      </favourite>
    </helpers>
	<blocks>
	  <favourite>
		<class>St_Favourite_Block</class>
	  </favourite>
	</blocks>
	<models>
	  <favourite>
		<class>St_Favourite_Model</class>
		<resourceModel>favourite_mysql4</resourceModel>
	  </favourite>
	  <favourite_mysql4>
		<class>St_Favourite_Model_Mysql4</class>
		<entities>
			  <customerfavourite>
				<table>customerfavourite</table>
			  </customerfavourite>
        </entities>
	  </favourite_mysql4>
	</models>
	<resources>
	  <favourite_setup>
		<setup>
		  <module>St_Favourite</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </favourite_setup>
	  <favourite_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </favourite_write>
	  <favourite_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </favourite_read>
	</resources>
  </global>
</config> 