<?xml version="1.0"?>
<config>
  <modules>
    <St_Foodpdf>
      <version>0.1.0</version>
    </St_Foodpdf>
  </modules>
  <frontend>
    <routers>
      <foodpdf>
        <use>standard</use>
          <args>
            <module>St_Foodpdf</module>
            <frontName>foodpdf</frontName>
          </args>
      </foodpdf>
    </routers>
		<layout>
		  <updates>
			<foodpdf>
			  <file>foodpdf.xml</file>
			</foodpdf>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <foodpdf>
        <class>St_Foodpdf_Helper</class>
      </foodpdf>
    </helpers>
	<blocks>
	  <foodpdf>
		<class>St_Foodpdf_Block</class>
	  </foodpdf>
	</blocks>
	<models>
	  <foodpdf>
		<class>St_Foodpdf_Model</class>
		<resourceModel>foodpdf_mysql4</resourceModel>
	  </foodpdf>
	  <foodpdf_mysql4>
		<class>St_Foodpdf_Model_Mysql4</class>
		<entities>
			  <foodcategory>
				<table>foodcategory</table>
			  </foodcategory>
			  <fooditem>
				<table>fooditem</table>
			  </fooditem>
        </entities>
	  </foodpdf_mysql4>
	</models>
	<resources>
	  <foodpdf_setup>
		<setup>
		  <module>St_Foodpdf</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </foodpdf_setup>
	  <foodpdf_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </foodpdf_write>
	  <foodpdf_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </foodpdf_read>
	</resources>
  </global>
</config> 