<?xml version="1.0"?>
<config>
  <modules>
    <Cmd1_NoOnion>
      <version>0.1.0</version>
    </Cmd1_NoOnion>
  </modules>
  <global>
    <helpers>
      <noonion>
        <class>Cmd1_NoOnion_Helper</class>
      </noonion>
    </helpers>
	<models>
	  <noonion>
		<class>Cmd1_NoOnion_Model</class>
		<resourceModel>noonion_mysql4</resourceModel>
	  </noonion>
	</models>
	<resources>
	  <customerattribute1581400976_setup>
		<setup>
		  <module>Cmd1_NoOnion</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1581400976_setup>
	  <customerattribute1581400976_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1581400976_write>
	  <customerattribute1581400976_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1581400976_read>
	</resources>
  </global>
</config> 