<?xml version="1.0"?>
<config>
  <modules>
    <St_Setting>
      <version>0.1.0</version>
    </St_Setting>
  </modules>
  <global>
    <helpers>
      <setting>
        <class>St_Setting_Helper</class>
      </setting>
    </helpers>
	<models>
	  <setting>
		<class>St_Setting_Model</class>
		<resourceModel>setting_mysql4</resourceModel>
	  </setting>
	  <setting_mysql4>
		<class>St_Setting_Model_Mysql4</class>
		<entities>
			  <setting>
				<table>setting</table>
			  </setting>
        </entities>
	  </setting_mysql4>
	</models>
	<resources>
	  <setting_setup>
		<setup>
		  <module>St_Setting</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </setting_setup>
	  <setting_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </setting_write>
	  <setting_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </setting_read>
	</resources>
  </global>
</config> 