<?xml version="1.0"?>
<config>
  <modules>
    <St_Customercity>
      <version>0.1.0</version>
    </St_Customercity>
  </modules>
  <global>
    <helpers>
      <customercity>
        <class>St_Customercity_Helper</class>
      </customercity>
    </helpers>
	<models>
	  <customercity>
		<class>St_Customercity_Model</class>
		<resourceModel>customercity_mysql4</resourceModel>
	  </customercity>
	</models>
	<resources>
	  <customerattribute1568270008_setup>
		<setup>
		  <module>St_Customercity</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1568270008_setup>
	  <customerattribute1568270008_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1568270008_write>
	  <customerattribute1568270008_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1568270008_read>
	</resources>
  </global>
</config> 