<?xml version="1.0"?>
<config>
  <modules>
    <St_Mealcount>
      <version>0.1.0</version>
    </St_Mealcount>
  </modules>
  <global>
    <helpers>
      <mealcount>
        <class>St_Mealcount_Helper</class>
      </mealcount>
    </helpers>
	<models>
	  <mealcount>
		<class>St_Mealcount_Model</class>
		<resourceModel>mealcount_mysql4</resourceModel>
	  </mealcount>
	</models>
	<resources>
	  <customerattribute1571305757_setup>
		<setup>
		  <module>St_Mealcount</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1571305757_setup>
	  <customerattribute1571305757_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1571305757_write>
	  <customerattribute1571305757_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1571305757_read>
	</resources>
  </global>
</config> 