<?xml version="1.0"?>
<config>
  <modules>
    <St_Monthlyclientinfo>
      <version>0.1.0</version>
    </St_Monthlyclientinfo>
  </modules>
  <frontend>
    <routers>
      <monthlyclientinfo>
        <use>standard</use>
          <args>
            <module>St_Monthlyclientinfo</module>
            <frontName>monthlyclientinfo</frontName>
          </args>
      </monthlyclientinfo>
    </routers>
		<layout>
		  <updates>
			<monthlyclientinfo>
			  <file>monthlyclientinfo.xml</file>
			</monthlyclientinfo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <monthlyclientinfo>
        <class>St_Monthlyclientinfo_Helper</class>
      </monthlyclientinfo>
    </helpers>
	<blocks>
	  <monthlyclientinfo>
		<class>St_Monthlyclientinfo_Block</class>
	  </monthlyclientinfo>
	</blocks>
	<models>
	  <monthlyclientinfo>
		<class>St_Monthlyclientinfo_Model</class>
		<resourceModel>monthlyclientinfo_mysql4</resourceModel>
	  </monthlyclientinfo>
	  <monthlyclientinfo_mysql4>
		<class>St_Monthlyclientinfo_Model_Mysql4</class>
		<entities>		  
			  <monthlyclientinfo>
				<table>monthlyclientinfo</table>
			  </monthlyclientinfo>
        </entities>
	  </monthlyclientinfo_mysql4>
	</models>
	<resources>
	  <monthlyclientinfo_setup>
		<setup>
		  <module>St_Monthlyclientinfo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </monthlyclientinfo_setup>
	  <monthlyclientinfo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </monthlyclientinfo_write>
	  <monthlyclientinfo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </monthlyclientinfo_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <monthlyclientinfo>
	    <use>admin</use>
		<args>
		  <module>St_Monthlyclientinfo</module>
		  <frontName>admin_monthlyclientinfo</frontName>
		</args>
	  </monthlyclientinfo>
	</routers>
  </admin>
  <adminhtml>
	<!--<menu>
	  <monthlyclientinfo module="monthlyclientinfo">
		<title>Monthlyclientinfo</title>
		<sort_order>100</sort_order>
		<children>
		  <monthlyclientinfo module="monthlyclientinfo">
		    <title>Manage Monthlyclientinfo</title>
			<sort_order>0</sort_order>
			<action>admin_monthlyclientinfo/adminhtml_monthlyclientinfo</action>
		  </monthlyclientinfo>
		</children>
	  </monthlyclientinfo>
	</menu>-->
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<monthlyclientinfo translate="title" module="monthlyclientinfo">
			  <title>Monthlyclientinfo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <monthlyclientinfo translate="title">
			<title>Manage Monthlyclientinfo</title>
			<sort_order>0</sort_order>
		  </monthlyclientinfo>
			  </children>
			</monthlyclientinfo>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<monthlyclientinfo>
		  <file>monthlyclientinfo.xml</file>
		</monthlyclientinfo>
	  </updates>
	</layout>
  </adminhtml>
</config> 