<?xml version="1.0"?>
<config>
  <modules>
    <St_Customecustomattribute>
      <version>0.1.0</version>
    </St_Customecustomattribute>
  </modules>
  <global>
    <helpers>
      <customecustomattribute>
        <class>St_Customecustomattribute_Helper</class>
      </customecustomattribute>
    </helpers>
	<models>
	  <customecustomattribute>
		<class>St_Customecustomattribute_Model</class>
		<resourceModel>customecustomattribute_mysql4</resourceModel>
	  </customecustomattribute>
	</models>
	<resources>
	  <customerattribute1575875484_setup>
		<setup>
		  <module>St_Customecustomattribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1575875484_setup>
	  <customerattribute1575875484_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1575875484_write>
	  <customerattribute1575875484_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1575875484_read>
	</resources>
  </global>
</config> 