<?xml version="1.0"?>
<config>
  <modules>
    <St_Customertarget>
      <version>0.1.0</version>
    </St_Customertarget>
  </modules>
  <global>
    <helpers>
      <customertarget>
        <class>St_Customertarget_Helper</class>
      </customertarget>
    </helpers>
	<models>
	  <customertarget>
		<class>St_Customertarget_Model</class>
		<resourceModel>customertarget_mysql4</resourceModel>
	  </customertarget>
	</models>
	<resources>
	  <customerattribute1558347507_setup>
		<setup>
		  <module>St_Customertarget</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1558347507_setup>
	  <customerattribute1558347507_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1558347507_write>
	  <customerattribute1558347507_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1558347507_read>
	</resources>
  </global>
</config> 